{% extends "layout.html" %}

{% block content %}
{% for category, msg in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ category }}" role="alert">{{ msg }}</div>
{% endfor %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: {{ url['name'] }}</h1>
        <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
            <tr>
                <td>ID</td>
                <td>{{ url['id'] }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url['name'] }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url['created_at'] }}</td>
            </tr>
        </table>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form action="/urls/{{ url['id'] }}/checks" method="post">
    <button type="submit" class="btn btn-primary">Запустить проверку</button>
    </form>

    <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            {% if checks %}
            <tbody>
                {% for check in checks %}
                    <tr>
                        <td>{{ check['id'] }}</td>
                        <td>{{ check['status_code'] }}</td>
                        <td>{{ check['h1'] }}</td>
                        <td>{{ check['title'] }}</td>
                        <td>{{ check['description'] }}</td>
                        <td>{{ check['created_at'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    </div>
</main>
{% endblock %}